static const char* MY_SSID = "YOUR_WIFI_SSID";
static const char* MY_PASSPHRASE = "YOUR_WIFI_PASSWORD";
// static const char* MY_SSID = "YOUR_5G_WIFI_SSID";
// static const char* MY_PASSPHRASE = "YOUR_5G_WIFI_PASSWORD";
